name: Flutter Web
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build Web
    env:
      my_secret: ${{secrets.commit_secret}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      - run: flutter config --enable-web
      - run: |
            cd app
            flutter pub get
            flutter build web --release
      - run: |
          cd app
          cd build
          cd web
          git init 
          git config --global user.email adriel.idf@gmail.com
          git config --global user.name Adrieldf
          git status
          git remote add origin https://${{secrets.commit_secret}}@github.com/Adrieldf/ArcGraph.git
          git checkout -b gh-pages
          git add --all
          git commit -m "update"
          git push origin gh-pages -f